<h1>Bem-vindo ao Sistema de Processamento de Documentos</h1>
<p>Clique no botão abaixo para gerenciar os documentos.</p>

<%= link_to 'Gerenciar Documentos', documents_path, class: 'btn btn-primary' %>