<%= javascript_include_tag 'filters', 'data-turbo-track': 'reload' %>

<div class="document-container">
  <h1>Lista de Documentos</h1>

  <%= render 'filter' %>

  <% if @documents.any? %>
    <div class="documents-list">
      <% @documents.each do |document| %>
        <%= render partial: "document", locals: { document: document } %>
      <% end %>
    </div>
  <% else %>
    <p>Nenhum documento encontrado.</p>
  <% end %>

  <%= link_to "Novo Documento", new_document_path, class: 'btn-new-document' %>
</div>
