<!-- app/views/documents/index.html.erb -->
<h1>Lista de Documentos</h1>

<% if @documents.any? %>
  <ul>
    <% @documents.each do |document| %>
      <li>
        <%= render partial: "document", locals: { document: document } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum documento encontrado.</p>
<% end %>
<%= link_to "Novo Documento", new_document_path %>
