<!-- app/views/documents/show.html.erb (ou o nome do template que está usando para o relatório) -->
<div class="document-report">
  <%= render partial: 'document_info' %>
  <%= render partial: 'parties_involved' %>
  <%= render partial: 'financial_summary' %>
  <%= render partial: 'products' %>
</div>
